apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudnative-pg
resources:
  - https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/refs/tags/v1.28.0/releases/cnpg-1.28.0.yaml
