config:
  metadata:
    namespace: argocd
  spec:
    destination:
      server: https://kubernetes.default.svc
    source:
      repoURL: https://github.com/stargrid-systems/pleiades-gitops
      targetRevision: HEAD

ops:
  applications:
    - name: argocd
    - name: kubelet-serving-cert-approver
    - name: hccm
      destination:
        namespace: kube-system
      source:
        chart: hcloud-cloud-controller-manager
        repoURL: https://charts.hetzner.cloud
        # TODO: renovate
        targetRevision: 1.29.0
        helm:
          releaseName: hccm

    - name: cloudnative-pg
      syncPolicy:
        serverSideApply: true

    - name: traefik
      syncPolicy:
        managedNamespaceMetadata:
          labels:
            # Only required so we can use hostPort 80 and 443.
            # Remove once we switch to a load balancer.
            pod-security.kubernetes.io/enforce: privileged
      source:
        chart: traefik
        repoURL: https://traefik.github.io/charts
        # TODO: renovate
        targetRevision: 38.0.2
        helm:
          releaseName: traefik
          valuesObject:
            api:
              dashboard: false
            service:
              enabled: false
            ports:
              web:
                hostPort: 80
                redirections:
                  entryPoint:
                    to: websecure
                    scheme: https
                    permanent: true
              websecure:
                hostPort: 443
